<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>To Do List</title>

</head>

<body>

  <form action="/" method="post">
   
    <input type="text" name="newItem">
    <button type="submit">Submit</button>

  </form>

  <h><%= kindOfDay %></h>

  <ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat</li>
    <li><%= newListItem %></li>
  </ul>

</body>

</html>